<div aria-hidden="true" id="smoke"></div>
<header class="navigation" id="navigation">
    <nav role="navigation">
      {{#link-to  'application' class="logotype"}}
          <span class="starthouse">START HOUSE</span>
      {{/link-to}}
        <ul class="nav semantic-navigation" id="primary">
            <li>
              {{#link-to  'our-work'}}
                  <span>Our Work</span>
              {{/link-to}}
            </li>
            <li>
              {{#link-to  'gear-heads'}}
                  <span>Gear Heads</span>
              {{/link-to}}
            </li>
        </ul>
    </nav>

</header>

<section id="content" role="main">
  {{outlet}}
</section>
<footer class="footer" id="footer">
    <nav role="navigation">
        <p class="copyright">
            <small>©</small>
            2015 Start House, Inc.
        </p>
        <ul class="nav">
            <li><a href="mailto:info@starthouse.la">
                info@starthouse.la</a></li>
            <li><a href="tel:(323) 457-4023">Phone: (323) 457-4023</a></li>
        </ul>
    </nav>
</footer>