<h1 class="starthouse-banner no-border">GEAR HEADS.</h1>
<article>
    <section>
        <h1><strong class="no-lowercase">we’ve put telescopes in space, made your water cleaner, and built one of the
            most popular and financially successful social networks in the world.</strong></h1>

        <p>we’ve been building mobile solutions long before the app store, when screens were black and
            white.</p>

        <p>Individually over the last 25 years our team has built systems for Fortune 500 companies around the
            globe. chances are, you’ve used something we’ve built.</p>
    </section>
    <section>
        <h1 class="no-lowercase">Chris Econn.</h1>

        <p>Chris is the president and chief architect at Start house. He brings 15 years of high scalability systems
            engineering and architecture, including 12 years of hands-on Mobile development experience to the team. An
            international man of mystery, Chris lives and works where the problems are. There have been sightings in the
            UK, Austin, and New York City. He currently works out of his home in the Hollywood Hills, assembling his
            global Dark Army for the next great challenge.</p>
    </section>
    <section>
        <h1 class="no-lowercase">Ryan Ries.</h1>

        <p>dr. ries is an accomplished research scientist and systems engineer who provides start house with world class
            expertise in data analytics and a deep bench of experienced data scientists. over his 15 year career, he has
            developed advanced imaging products, incorporating cutting edge hardware with data analytics to improve
            performance in mission critical deployments for teledyne, arete, and daqri.</p>
    </section>
    <section>
        <h1 class="no-lowercase">The Dark Army.</h1>

        <p>A not-so-small squad of engineers--foreign and domestic--trained to execute on your technology with deadly
            precision, on time and on budget. Under cover of night, they apply their expertise in algorithm development,
            scaling, operations, and embedded / mobile development while the enemy sleeps (launching nerf wars and
            hack-a-thons on your dime).</p>
    </section>
</article>