<div class="starthouse-banner biggest">GEAR HEADS</div>
<article class="single">
    <h1><strong class="no-lowercase">We’ve been building mobile solutions long before the app store, when screens were
        black and white.</strong></h1>
    <ul>
        <li>
            <p>Individually, over the last 25 years our team has built systems for Fortune 500 companies around the
                globe. Chances are, you’ve used something we’ve built.</p>
        </li>
        <li>
            <p>We’ve put telescopes in space, made your water cleaner, and built one of the most popular and financially
                successful social networks in the world. To learn about the specific solutions we’ve engineered, refer
                to
                ‘Our Work’ tab.</p>
        </li>
    </ul>
    <p><strong class="no-lowercase">Here’s just some of our work.</strong></p>
</article>
<article class="double">
    <section>
        <h1 class="no-lowercase">LG:</h1>

        <p><strong class="no-lowercase">The Problem:</strong> How to improve the efficiency of LG’s proprietary water
            filtration system in desalination plants located in remote areas without connectivity.</p>

        <p><strong class="no-lowercase">The Solution:</strong> Developed the Q+ projection system allowing operators to
            project their optimal configuration based utilizing over 1000 water input properties while off line, and
            continue to update and optimize when online. </p>

        <p><strong class="no-lowercase">The Benefit:</strong> Decreased operating costs and increased licensing lead LG
            into the global market.</p>
    </section>
    <section>
        <h1 class="no-lowercase">Grindr:</h1>

        <p><strong class="no-lowercase">The Problem:</strong> How to improve the technology and internal development
            processes of the fastest growing social network in the world to support the monthly growth of 35,000 new
            users, chat messaging traffic surpassing Twitter, and a monthly hosting bill that could buy you a small
            island in the Pacific.</p>

        <p><strong class="no-lowercase">The Solution:</strong> Replaced an off-shore workforce of 31 with 6 in-house
            developers to build The New Grindr.</p>

        <p><strong class="no-lowercase">The Benefit:</strong> Decreased cost in labor, decreased cost in
            infrastructure to support an increase in user traffic.</p>

    </section>
    <section>
        <h1 class="no-lowercase">Tugg:</h1>

        <p><strong class="no-lowercase">The Problem:</strong> How to make a popular and successful crowd-sourced
            ticketing platform into a scalable and legitimate player in world of entertainment distribution.</p>

        <p><strong class="no-lowercase">The Solution:</strong> Built an OTT network for content distribution and
            combined it with a revamped ticketing platform, built by a dream team of developers recruited from all
            over the world: Uruguay, Austin, Los Angeles, Egypt, Irvine.</p>

        <p><strong class="no-lowercase">The Benefit:</strong> Tugg pentetrated new markets instead while refactoring
            for scale, becoming the world’s first ticketing provider and content distributor.</p>

    </section>
</article>



