<h1 class="starthouse-banner no-border">GEAR HEADS</h1>
<article>
    <section>
        <h1><strong class="no-lowercase">we’ve put telescopes in space, made your water cleaner, and built one of the
            most popular and financially successful social networks in the world.</strong></h1>

        <p>we’ve been building mobile solutions long before the app store, when screens were black and
            white.</p>

        <p>Individually over the last 25 years our team has built systems for Fortune 500 companies around the
            globe. chances are, you’ve used something we’ve built.</p>
    </section>
    <section>
        <h1 class="no-lowercase no-border">Chris Econn.</h1>

        <p>Chris is the president and chief architect at Start house. He brings 15 years of high scalability systems
            engineering and architecture, including 12 years of hands-on Mobile development experience to the team. An
            international man of mystery, Chris lives and works where the problems are. There have been sightings in the
            UK, Austin, and New York City. He currently works out of his home in the Hollywood Hills, assembling his
            global Dark Army for the next great challenge.</p>
    </section>
    <section>
        <h1 class="no-lowercase no-border">Ryan Ries.</h1>

        <p>Dr. Ries is an accomplished research scientist, system engineer, program manager, and business developer that
            has honed his expertise in scientific consulting and data analytics. He has developed advanced imaging
            products, incorporating cutting edge hardware with data analytics to improve performance in mission critical
            deployments for Teledyne and Arete. Dr. Ries does not do house calls.</p>
    </section>
    <section>
        <h1 class="no-lowercase no-border">The Dark Army.</h1>

        <p>A band of misfits, foreign and domestic, Chris has found, mentored, and trained to apply their raw talents to
            execute with deadly precision. Under cover of night, they apply their expertise in algorithm development,
            scaling, operations, and embedded / mobile development while the enemy sleeps.</p>
    </section>
</article>
<article class="double">
    <section>
        <h1 class="no-lowercase">LG:</h1>

        <p class="img-holder"><img alt="Fixture data matters" class="postings-figure" src="/assets/lg-nh2-logo.png"></p>

        <p><strong class="no-lowercase">The Problem:</strong> How to improve the efficiency of LG’s proprietary water
            filtration system in desalination plants located in remote areas without connectivity.</p>

        <p><strong class="no-lowercase">The Solution:</strong> Developed the Q+ projection system allowing operators to
            project their optimal configuration based utilizing over 1000 water input properties while off line, and
            continue to update and optimize when online. </p>

        <p><strong class="no-lowercase">The Benefit:</strong> Decreased operating costs and increased licensing lead LG
            into the global market.</p>
    </section>
    <section>
        <h1 class="no-lowercase">Grindr:</h1>

        <p class="img-holder"><img alt="Fixture data matters" class="postings-figure" src="/assets/Grindr.png"></p>

        <p><strong class="no-lowercase">The Problem:</strong> How to improve the technology and internal development
            processes of the fastest growing social network in the world to support the monthly growth of 35,000 new
            users, chat messaging traffic surpassing Twitter, and a monthly hosting bill that could buy you a small
            island in the Pacific.</p>

        <p><strong class="no-lowercase">The Solution:</strong> Replaced an off-shore workforce of 31 with 6 in-house
            developers to build The New Grindr.</p>

        <p><strong class="no-lowercase">The Benefit:</strong> Decreased cost in labor, decreased cost in
            infrastructure to support an increase in user traffic.</p>

    </section>
    <section>
        <h1 class="no-lowercase">Tugg:</h1>

        <p class="img-holder"><img alt="Fixture data matters" class="postings-figure" src="/assets/tugg.png"></p>

        <p><strong class="no-lowercase">The Problem:</strong> How to make a popular and successful crowd-sourced
            ticketing platform into a scalable and legitimate player in world of entertainment distribution.</p>

        <p><strong class="no-lowercase">The Solution:</strong> built a dream team of developers recruited from all over
            the world: Uruguay, Austin, Los Angeles, Egypt, Irvine; deployed a VOD network for distributing content and
            combined it with a revamped, highly scalable SOA ticketing platform.</p>

        <p><strong class="no-lowercase">The Benefit:</strong> Tugg pentetrated new markets while refactoring for scale,
            becoming the world’s first ticketing provider and video content distributor. </p>

    </section>
</article>