<div class="starthouse-banner biggest">WHO WE ARE</div>
<article>
    <h1 class="no-lowercase">Chris Econn.</h1>

    <p>Chris is the president and chief architect at Start house. He brings 15 years of high scalability systems engineering and architecture, including 12 years of hands-on Mobile development experience to the team.  An international man of mystery, Chris lives and works where the problems are.  There have been sightings in the UK, Austin, and New York City.  He currently works out of his home in the Hollywood Hills, assembling his global Dark Army for the next great challenge.</p>
</article>
<article>
    <h1 class="no-lowercase">Ryan Ries.</h1>

    <p>Dr. Ries is an accomplished research scientist, system engineer, program manager, and business developer that has honed his expertise in scientific consulting and data analytics.  He has developed advanced imaging products, incorporating cutting edge hardware with data analytics to improve performance in mission critical deployments for Teledyne and Arete.  Dr. Ries does not do house calls.</p>
</article>
<article>
    <h1 class="no-lowercase">The Dark Army.</h1>

    <p>A band of misfits, foreign and domestic, Chris has found, mentored, and trained to apply their raw talents to execute with deadly precision. Under cover of night, they apply their expertise in algorithm development, scaling, operations, and embedded / mobile development while the enemy sleeps.</p>
</article>

