<h1 class="starthouse-banner no-border">START HOUSE</h1>
<article class="triple">
    <section>
        <h1>how we started</h1>

        <p>We begam solving urgent technology problems of scale for early to late stage startups.  As we turned around more than a few ventures, word of mouth spread quickly.</p>
    </section>
    <section>
        <h2>where we are now</h2>

        <p>We’ve expanded as a solutions provider to the Fortune 500, while never forgetting our roots as the place for startups go to get started on the right foot.</p>
    </section>
    <section>
        <h2>what we can do for you</h2>

        <p>Our expertise is in data analytics, mobile, and scale.  We can integrate into senior management to help you take full ownership of our technology and processes; or we can build you a system done the right way from the start.</p>
    </section>
</article>

