<h1 class="starthouse-banner no-border">OUR WORK</h1>
<article>
    <h1 class="no-lowercase">LG:</h1>

    <p><strong class="no-lowercase">The Problem:</strong> How to improve the efficiency of LG’s proprietary water filtration system in desalination plants located in remote areas without connectivity.</p>

    <p><strong class="no-lowercase">The Solution:</strong> Developed the Q+ projection system allowing operators to project their optimal configuration based utilizing over 1000 water input properties while off line, and continue to update and optimize when online. </p>

    <p><strong class="no-lowercase">The Benefit:</strong>  Decreased operating costs and increased licensing lead LG into the global market.</p>
</article>
<article>
    <h1 class="no-lowercase">Grindr:</h1>

    <p><strong class="no-lowercase">The Problem:</strong> How to improve the technology and internal development processes of the fastest growing social network in the world to support the monthly growth of 35,000 new users, chat messaging traffic surpassing Twitter, and a monthly hosting bill that could buy you a small island in the Pacific.</p>

    <p><strong class="no-lowercase">The Solution:</strong> Replaced an off-shore workforce of 31 with 6 in-house developers to build The New Grindr.</p>

    <p><strong class="no-lowercase">The Benefit:</strong>  Decreased cost in labor, decreased cost in infrastructure to support an increase in user traffic.</p>
</article>
<article>
    <h1 class="no-lowercase">Tugg:</h1>

    <p><strong class="no-lowercase">The Problem:</strong> How to make a popular and successful crowd-sourced ticketing platform into a scalable and legitimate player in world of entertainment distribution.</p>

    <p><strong class="no-lowercase">The Solution:</strong> Built an OTT network for content distribution and combined it with a revamped ticketing platform, built by a dream team of developers recruited from all over the world: Uruguay, Austin, Los Angeles, Egypt, Irvine.</p>

    <p><strong class="no-lowercase">The Benefit:</strong> Tugg pentetrated new markets instead while refactoring for scale, becoming the world’s first ticketing provider and content distributor.</p>
</article>

